@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --desatRed: hsl(0, 36%, 70%);
    --desatRedChngble: 0, 100%, 50%;
    --softRed: hsl(0, 93%, 68%);
    --darkGRed: hsl(0, 6%, 24%);
    --grad1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --grad2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

html {
    font-family: 'Josefin Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    display: grid;
    place-items: center;
    background: var(--grad1);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    width: 375px;
}


.logo {
    justify-self: start;
    width: 28%;
    margin: 2rem 2rem;
}

.banner {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.desatRed {
    color: var(--desatRed);
}

.w300 {
    font-weight: 300;
}


h1 {
    font-size: 2.6rem;
    text-align: center;
    letter-spacing: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2.5rem 3rem 0 3rem;
    color: var(--darkGRed);

    span {
        display: block;
    }
}

p {
    margin-top: -.7rem;
    line-height: 1.5rem;
    font-size: .9rem;
    padding: 0 1.2rem 0 1.2rem;
    text-align: center;
}


form {
    position: relative;
    width: 90%;
    margin-top: .5rem;
}



input {
    border-radius: 5rem;
    border-color: hsla(var(--desatRedChngble), .1);
    border-style: solid;
    border-width: .1rem;
    padding: 1rem 3.8rem 1rem 1rem;
    width: 75%;
    transition: all .2s;
}

input::placeholder {
    color: hsla(var(--desatRedChngble), .2);
    font-weight: 500;
    padding: 0 .5rem;
    font-size: .95rem;
    font-family: "Josefin Sans";
}

input:focus, input:hover {
    border-color: var(--desatRed);
    box-shadow: 0 0 1rem .1rem hsla(var(--desatRedChngble), .3)
}

button {
    box-sizing: border-box;
    border-radius: 5rem;
    width: 65px;
    height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    cursor: pointer;
    color: white;
    background: var(--grad2);
    border-style: none;
    box-shadow: .3rem .3rem 1.5rem hsla(var(--desatRedChngble), .3);
    transition: all .4s ease;
    img {
        padding: .9rem .4rem .9rem .6rem;
    }
}

button:hover {
    box-shadow: 0 .6rem 1.2rem hsla(var(--desatRedChngble), .4);
    width: 4.8rem;
    filter: brightness(1.2);
}

#errorImg {
    width: 1.5rem;
    position: absolute;
    top: .8rem;
    right: 5rem;
    visibility: hidden;
}

#errMsg {
    text-align: left;
    color: var(--softRed);
    margin: .4rem;
    visibility: hidden;
}

.hide {
    display: none;
}

#mailSpan {
    color: var(--softRed);
}

#subForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
}

#dismissBtn {
    position: relative;
    width: 80%;
    text-align: center;
}